:root {
    --swiper-navigation-color: #404040;
    --swiper-pagination-color: #404040;
    --swiper-theme-color: #404040;
    --swiper-pagination-fraction-color: #404040;
    --swiper-pagination-bullet-inactive: #404040;
    --swiper-pagination-bullet-horizontal-gap: 10px;
}


body {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden; */
}


h1,
h2,
h3,
h4,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.gradient-gradient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f5e5e5, #b85954);
    padding: 0 20px;
    overflow-x: hidden;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.section__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section__sub-title {
    font-size: 1.25rem;
    margin-bottom: 30px;
    text-wrap: balance;
}

.page-spacer {
    height: 1vh;
    background-color: transparent;
}

.opaque-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 30vw;
    height: fit-content;
    border-radius: 30px;
    text-wrap: balance;
}

/*----------------------------------------------------------------------------------
    Buttons
-----------------------------------------------------------------------------------*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    height: 50px;
    border-radius: 25px;
    border: #404040 2px solid;
    background: transparent;
    color: #404040;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover {
    transform: scale(1.025);
    background: rgba(0, 0, 0, 0.035);
}

.btn:active {
    transform: scale(0.975);
}

.swiper-btn {
    z-index: 10;
}

/*----------------------------------------------------------------------------------
    Header
-----------------------------------------------------------------------------------*/

.gradient-header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, white, #f5e5e5);
    width: 100%;
    height: 15vh;
    padding: 3vh 0 0 0;
    box-sizing: border-box;
    z-index: 1000;
}

.home-link:hover {
    text-decoration: none;
    opacity: 0.5;
}

.gradient-header__spacer {

    width: 100%;
    height: 15vh;
    background: linear-gradient(to bottom, white, #f5e5e5);
    background-color: transparent;
}

.gradient-header__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 2rem;
    letter-spacing: 3px;
    height: 7vh;
    margin-bottom: 2vh;
}

.gradient-nav nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.gradient-nav nav ul li {
    padding: 0 10px;
}

/*----------------------------------------------------------------------------------
    Splash Swiper
-----------------------------------------------------------------------------------*/

.gradient-splash {
    /* margin-top: 40px; */
}

.gradient-splash .mySwiper {
    width: 100vw;
    height: fit-content;
}


.mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-slide__image {
    width: 100vw;
    height: 85vh;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, transparent, black, black, black, black, black, black, black, transparent);
    mask-image: linear-gradient(to right, transparent, black, black, black, black, black, black, black, transparent);
}

.swiper-slide__action-call {
    position: absolute;
    top: 20%;
    left: 15%;
    text-wrap: balance;
    z-index: 5;
}

/*----------------------------------------------------------------------------------
    Review Swiper    
-----------------------------------------------------------------------------------*/

.gradient-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 40vh;
    gap: 20px;
}

.reviewSwiper .swiper-button-prev,
.reviewSwiper .swiper-button-next {
    color: #595959;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewSwiper {
    width: 100vw;
    height: 20vh;
}


.reviewSwiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.gradient-reviews__display--text {
    font-size: 2rem;
    width: 80vw;
    background-color: transparent;
}

.gradient-reviews__display--author {
    font-size: 1.25rem;
    background-color: transparent;
    margin-top: 20px;
}

/*----------------------------------------------------------------------------------
    About Teaser Section  
-----------------------------------------------------------------------------------*/

.gradient-about__teaser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 80vw;
    background: #fcf6f6;
    background: linear-gradient(to right, rgb(246, 227, 132), rgba(246, 227, 132, 0.347), transparent);
    color: #404040;
    border-radius: 30px;
}

.gradient-about__teaser--photo-container {
    height: 50vh;
    width: 45vw;
}

.gradient-about__teaser--photo {
    width: 100%;
    height: 100%;
    border-radius: 30px 0 0 30px;
    object-fit: cover;

}

.gradient-about__teaser--info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: transparent;
    padding: 20px;
    width: calc(35vw - 40px);
    height: calc(50vh -40px);
    text-wrap: balance;
    /* background: #fcf6f6; */
}

.gradient-about__teaser--text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

/*----------------------------------------------------------------------------------
    Product Teaser Section
-----------------------------------------------------------------------------------*/

.gradient-products__teaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: fit-content;
    width: calc(60vw + 20px);
    background: linear-gradient(to right, transparent, rgb(246, 227, 132));
    color: #404040;
    padding: 20px;
    border-radius: 50px;
}

.gradient-products__teaser-head,
.gradient-products__teaser-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: transparent;
}

.gradient-products__teaser-info {
    width: calc(30vw - 20px);
    margin-left: 20px
}

.gradient-products__teaser-image--container {
    width: 30vw;
    height: 30vh;
}

.gradient-products__teaser-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    max-height: 35vh;
}

/*----------------------------------------------------------------------------------
    Custom Teaser Section 
-----------------------------------------------------------------------------------*/

.gradient-custom__teaser {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.gradient-custom__photo-container--one {
    position: inherit;
    top: 0;
    left: 0;
    width: 70vw;
    height: 65vh;
    border-radius: 30px;
}

.gradient-custom__photo--one,
.gradient-custom__photo--two {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.gradient-custom__photo-container--two {
    position: absolute;
    bottom: -5vw;
    right: 0;
    width: 30vw;
    height: 65vh;
    border-radius: 30px;
}

.photo-cover--yellow {
    position: inherit;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background: rgba(246, 227, 132, 0.25);
}

.photo-cover--pink {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background: rgba(132, 197, 246, 0.4);
}

.gradient-custom__info {
    position: absolute;
    top: 10vw;
    left: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: fit-content;
    padding: 30px;
    background: #fcf6f6;
    background: linear-gradient(to right, rgb(246, 227, 132), #b88354, #c4605b, #b85954, #b85488, rgb(151, 132, 246));
    border-radius: 60px;
    z-index: 10;
}

.gradient-custom__teaser--text-container {
    padding: 30px;
    background: #fcf6f6;
    border-radius: 30px;
}


/*----------------------------------------------------------------------------------
    Footer
-----------------------------------------------------------------------------------*/

.gradient-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #fcf6f6;
    background-color: transparent;
    width: 100%;
    height: fit-content;
    margin-top: 200px;
    padding: 20px 0;
}

.gradient-footer div {
    padding: 0 80px;
}

.gradient-footer__company {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: transparent;
}

.gradient-footer__company--logo {
    font-family: cursive;
    font-size: 4rem;
    background-color: transparent;
    margin-right: 10px;
}

.gradient-footer__company--est {
    font-size: .75rem;
    background-color: transparent;
}

.gradient-footer__contact {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.gradient-footer__contact li {
    font-size: .75rem;
    background-color: transparent;
}

.gradient-footer__title {
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    margin: 15px 0 15px 0;
}

.gradient-footer__social-icons__container {
    display: flex;
    background-color: transparent;
    max-height: 30px;
    gap: 10px;
}

.gradient-footer__social--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    max-width: 30px;
}

.gradient-footer__social--icons svg {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.gradient-footer__contact--address {
    margin: 5px 0;
}


/*----------------------------------------------------------------------------------
   Products
-----------------------------------------------------------------------------------*/

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 200px;
    background-color: transparent;
}

.products-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vh;
    background-color: whitesmoke;
    color: #404040;
    padding: 50px;
    border-radius: 25px;
    background: linear-gradient(to right, transparent, rgb(246, 227, 132));
    background: linear-gradient(to right, transparent, whitesmoke);
}

.products-card__price {
    font-size: 2.75rem;
    color: #545bb8;
}

.products-card__description {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.products-card__title {
    font-size: 2rem;

}

.products-card__text {
    font-size: 1.25rem;
    text-wrap: balance;
}

.products-card__single-link--container {
    margin-bottom: 10px;
}

.products-card__single-link {
    color: #545bb8;
}

.products-btn {
    color: #f5e5e5;
    background-color: #545bb8;
    border: none;
}

.products-btn:hover {
    background-color: #464c9a;
}


/*----------------------------------------------------------------------------------
   Cube Swiper (product page)
-----------------------------------------------------------------------------------*/

.products .swiper {
    width: 30vw;
    height: 30vw;
    /* object-fit: cover; */
    /* border-radius: 10px; */
    position: relative;
    right: -8vw;
    top: 0;
}

.products-card:not(:first-of-type) .swiper {
    right: -12vw;
}

.products .swiper-slide {
    background-position: center;
    background-size: cover;
}

.products .swiper-slide img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.products .swiper-pagination {
    position: relative;
    margin-top: 25px;
}

.products-card,
.cubeSwiper {
    transition: transform 0.5s ease-out;
    will-change: transform;
}

/*--------------------------------------------------------------------------------------------------------------
    Single Product Page
---------------------------------------------------------------------------------------------------------------*/

.single-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.single-product__head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    padding: 0 20px;
}

.single-product__carousel .swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 85vh;
}

.single-product__carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-product__carousel .swiper-slide img {
    display: block;
    width: 85%;
    max-height: 100%;
    object-fit: cover;
}

.single-product__carousel .swiper {
    margin-left: auto;
    margin-right: auto;
}

.single-product__quick-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 60px;
    background-color: transparent;
    padding: 20px;
}

.single-product__title {
    font-size: 2.5rem;
}

.single-product__dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
    color: #303030;
    width: 80vw;
    border-bottom: #404040 2px solid;
}

.single-product__dropdown--head {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    cursor: pointer;
}

.single-product__dropdown--title:hover {
    cursor: pointer;
}

.single-product__dropdown--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-color: #f5e5e51f;
    border: #404040 2px solid;
    border-radius: 50%;
    padding: 10px;
    font-size: 2rem;
    height: 50px;
    width: 50px;
}

.single-product__dropdown--icon:hover {
    background-color: #f5e5e500;
}

.single-product__dropdown--content {
    display: none;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    width: 100%;
    text-wrap: balance;
    transition: max-height 1s ease-in-out;
    color: #303030;
}

.single-product__dropdown--content p {
    font-size: 1.125rem;
    color: black;
}

.show-dropdown {
    display: flex;
}

.rotate-icon {
    transform: rotate(180deg);
}

.single-product__dropdown--content.show-dropdown {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;

}

.thumbnail {
    margin: 20px 0;
}

.thumbnail .swiper {
    width: 100%;
    height: 100%;
    width: 65vw;
    height: 65vh;
}

.thumbnail .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail .thumbSwiper {
    height: auto;
    width: 80%;
    box-sizing: border-box;
    padding: 10px 0;
}

.thumbnail .thumbSwiper .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.thumbnail .thumbSwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.thumbnail .swiper-slide img {
    display: block;
    width: 85%;
    max-height: 100%;
    object-fit: cover;
}

.thumbSwiper-img--main:hover {
    cursor: zoom-in;
}

.thumbSwiper-img--thumb:hover {
    cursor: pointer;
}

.thumbnail .swiper-free-mode>.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.fullscreen-image img:hover {
    cursor: zoom-out;
}

/*----------------------------------------------------------------------------------
    About Page
-----------------------------------------------------------------------------------*/
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: transparent;
}

.about-owner {
    position: inherit;
}

.about-owner__image {
    width: 100vw;
    height: 85vh;
    -webkit-mask-image: linear-gradient(to right, transparent, black, black, black, black, black, black, black, transparent);
    mask-image: linear-gradient(to right, transparent, black, black, black, black, black, black, black, transparent);
    object-fit: cover;
}

.about-owner__blurb {
    position: absolute;
    top: 45vh;
    left: 55vw;
}

/* .about-head__bg-cloud {
    position: absolute;
    background: radial-gradient(circle at center, #fcf6f6 10%, transparent, transparent);
    width: 50vw;
    height: 50vw; 
    z-index: 5;  
}

.bgc-one {
    top: 15%;
    left: 40%;
}

.bgc-two {
    top: 33%;
    left: 60%;
}

.bgc-three {
    top: 36%;
    left: 40%;
} */