:root {
    --swiper-navigation-color: #404040;
    --swiper-pagination-color: #404040;
    --swiper-theme-color: #404040;
    --swiper-pagination-fraction-color: #404040;
    --swiper-pagination-bullet-inactive: #404040;
    --swiper-pagination-bullet-horizontal-gap: 10px;
}


body {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden; */
}


h1,
h2,
h3,
h4,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

/* nav a {
    text-decoration: none;
    color: inherit; 
} */

/* .wpgt {
   height: 1000px;
} */

.gradient-gradient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f5e5e5, #b85954);
    /* background: linear-gradient(to bottom, #e5f5ef, #54b89c);
    background: linear-gradient(to bottom, #dffdff, #4bb0b7); */
    padding: 20px;
    /* gap:240px; */
    overflow-x: hidden;
}

.home-page { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:200px; 
}

.section__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section__sub-title {
    font-size: 1.25rem;
    margin-bottom: 30px;
    text-wrap: balance;
}

.page-spacer {
    height: 1vh;
    background-color: transparent;
}

/*----------------------------------------------------------------------------------
    Buttons
-----------------------------------------------------------------------------------*/

/* .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #f5e5e5, #b77f7c);
    color: #404040;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(to bottom, #f5e5e5, #b18180);
    background: linear-gradient(to bottom, #f0dcdc, #ab726f);
    cursor: pointer;
    transform: scale(1.025);
} */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    height: 50px;
    border-radius: 25px;
    border: #404040 2px solid;
    background: transparent;
    color: #404040;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover {
    transform: scale(1.025);
    background: rgba(0, 0, 0, 0.035);
}
.btn:active {
    transform: scale(0.975);
}

/* .products-btn {
    background: linear-gradient(to right, transparent, rgba(255, 230, 104, 0.243));
}

.products-btn:hover {
    background: linear-gradient(to right, rgba(255, 230, 104, 0.243), transparent);
} */

.swiper-btn { z-index: 10; }

/*----------------------------------------------------------------------------------
    Header
-----------------------------------------------------------------------------------*/

.gradient-header {
    position: fixed;
    /* top: 0;
    left: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, white, #f5e5e5);
    /* background: linear-gradient(to bottom, white, #e5f5ef);  
    background: linear-gradient(to bottom, white, #dffdff); */
    width: 100%;
    height: 15vh;
    padding: 3vh 0 0 0;
    box-sizing: border-box;
    /* Ensures padding is included in height calculation */
    z-index: 1000;
}

.gradient-header__spacer {

    width: 100%;
    height: 15vh;
    background: linear-gradient(to bottom, white, #f5e5e5);
    /* background: linear-gradient(to bottom, white, #e5f5ef);
    background: linear-gradient(to bottom, white, #dffdff); */
    background-color: transparent;
}

.gradient-header__title {
    text-align: center;
    display: flex;
    align-items: center;
    /* Centers title vertically */
    justify-content: center;
    /* Centers title horizontally */
    font-family: cursive;
    font-size: 2rem;
    letter-spacing: 3px;
    height: 7vh;
    margin-bottom: 2vh;
}

/* .gradient-nav {
    width: 100%;  
      
} */

.gradient-nav nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* Center nav items horizontally */
}

.gradient-nav nav ul li {
    padding: 0 10px;
    /* Add horizontal spacing between nav items */
}

/*----------------------------------------------------------------------------------
    Section
-----------------------------------------------------------------------------------*/

/* .gradient-section {
    display: grid;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
} */

/*----------------------------------------------------------------------------------
    Splash Swiper
-----------------------------------------------------------------------------------*/

.gradient-splash {
    /* margin-top: 40px; */
}

.mySwiper {
    width: 100vw;
    height: fit-content;
}


.mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-slide__image {
    width: 100vw;
    height: 85vh;
    /* height: 40vw; */
    /* margin-right: 7vw; */
    object-fit: cover;
    -webkit-mask-image: radial-gradient(circle at center, black 85%, transparent);
    mask-image: radial-gradient(circle at center, black 85%, transparent); 
    -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 85%, transparent);
    mask-image: linear-gradient(to right, transparent,  black , black , black , black , black , black , transparent); 
    /* -webkit-mask-image: linear-gradient(to bottom, transparent, black 25%, black 75%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 25%, black 75%, transparent);  */
}



.swiper-slide__action-call {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    top: 20%;
    left: 15%;
    text-wrap: balance;
    /* gap: 20px; */
    font-size: 2em;
    width: 30vw;
    height: fit-content;
    padding: 50px;
    /* margin-right: 5vw; */
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.819);
    z-index: 5;
}

/*----------------------------------------------------------------------------------
    Review Swiper    
-----------------------------------------------------------------------------------*/

.gradient-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 40vh;
    gap: 20px;
}

.reviewSwiper .swiper-button-prev,
.reviewSwiper .swiper-button-next {
    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
    color: #595959;
    /* text-align: center; */
    background: transparent;
    /* width: 30px;
    height: 30px;
    border-radius: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .reviewSwiper .swiper-button-prev {
    left: 10px;
    z-index: 10;
} */

/* .reviewSwiper .swiper-button-next {
    right: 10px;
    z-index: 10;
} */

.reviewSwiper {
    width: 100vw;
    height: 20vh;
    /* margin: 40px 0; */
}


.reviewSwiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.gradient-reviews__display--text {
    font-size: 2rem;
    width: 80vw;
    background-color: transparent;
}

.gradient-reviews__display--author {
    font-size: 1.25rem;
    background-color: transparent;
    margin-top: 20px;
}

/*----------------------------------------------------------------------------------
    About Teaser Section  
-----------------------------------------------------------------------------------*/

.gradient-about__teaser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    /* height: 50vh; */
    width: 80vw;
    background: #fcf6f6;
    background: linear-gradient(to right, rgb(246, 227, 132), rgba(246, 227, 132, 0.347), transparent);
    color: #404040;
    /* color: #fcf6f6; */
    border-radius: 30px;
}

.gradient-about__teaser--photo-container { 
    height: 50vh;
   width: 45vw;  
}

.gradient-about__teaser--photo {
    width: 100%;
    height: 100%;
    border-radius: 30px 0 0 30px;
    object-fit: cover;
 
}

.gradient-about__teaser--info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: transparent;
    padding: 20px;
    width: calc(35vw - 40px);
    height: calc(50vh -40px);
    text-wrap: balance;
    /* background: #fcf6f6; */
}

.gradient-about__teaser--text {
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* margin-bottom: 30px; */
    font-size: 1.25rem;
}

/* .gradient-about__teaser--foot {
    display: flex;
    justify-content: start;
    align-items: center;

    font-size: 1rem;
} */

/*----------------------------------------------------------------------------------
    Product Teaser Section
-----------------------------------------------------------------------------------*/

.gradient-products__teaser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: fit-content;
    width: calc(60vw + 20px);
    /* background: transparent; */
    background: linear-gradient(to right, transparent,  rgba(246, 227, 132, 0.137), rgba(246, 227, 132, 0.247), rgba(246, 227, 132, 0.405),  rgb(246, 227, 132));
    /* background: linear-gradient(to right, rgb(246, 227, 132), rgba(246, 227, 132, 0.247), rgba(246, 227, 132, 0.137), transparent); */
    background: linear-gradient(to right, transparent, rgb(246, 227, 132));



    color: #404040;
    padding: 20px;
    /* border: solid 2px #fcf6f6; */
    /* border: solid 2px rgb(246, 227, 132); */
    border-radius: 50px;
}

.gradient-products__teaser-head, .gradient-products__teaser-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: transparent;
}

.gradient-products__teaser-info {
    width: calc(30vw - 20px);
    margin-left: 20px
}

.gradient-products__teaser-image--container {
    width: 30vw;
    height: 30vh;
}

.gradient-products__teaser-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    max-height: 35vh;
}

/* .gradient-products__teaser--title, .gradient-products__teaser--text, .products-btn {
    color: #fcf6f6;
    border-color: #fcf6f6;
} */

/*----------------------------------------------------------------------------------
    Custom Teaser Section 
-----------------------------------------------------------------------------------*/

.gradient-custom__teaser {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90vw;

}

.gradient-custom__photo-container--one {
    position: inherit;
    top: 0;
    left: 0;
    width: 70vw;
    height: 65vh;
    border-radius: 30px;
    /* border: solid 2px #fcf6f6; */
}

.gradient-custom__photo--one, .gradient-custom__photo--two {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.gradient-custom__photo-container--two {
    position: absolute;
    bottom: -5vw;
    right: 0;
    width: 30vw;
    height: 65vh;
    border-radius: 30px;
    /* border: solid 2px #fcf6f6; */
}

.photo-cover--yellow {
    position: inherit;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(to right, transparent, rgba(246, 227, 132, 0.102), rgba(246, 227, 132, 0.5));
    /* background: linear-gradient(to right, rgba(246, 132, 132, 0.4), rgba(246, 227, 132, 0.5)); */
    background: rgba(246, 227, 132, 0.25);
}

.photo-cover--pink {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    /* background:  rgba(246, 132, 132, 0.3); */
    background:  rgba(132, 197, 246, 0.4);
    /* background: linear-gradient(to right, transparent, rgba(246, 132, 132, 0.4)); */
    /* background: linear-gradient(to right, rgba(246, 132, 132, 0.5), rgba(246, 227, 132, 0.5)); */
    /* background: linear-gradient(to right, transparent, rgba(132, 197, 246, 0.56)); */

}



.gradient-custom__info {
    position: absolute;
    top: 10vw;
    left: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: fit-content;
    padding: 30px;
    background: #fcf6f6;
    background: linear-gradient(to right, rgb(246, 227, 132), #b88354, #c4605b, #b85954, #b85488, rgb(151, 132, 246));
    border-radius: 60px;
    z-index: 10;
}

.gradient-custom__teaser--text-container {
    padding: 30px;
    background: #fcf6f6;
    border-radius: 30px;
}


/*----------------------------------------------------------------------------------
    Footer
-----------------------------------------------------------------------------------*/

.gradient-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #fcf6f6;
    background-color: transparent;
    width: 100%;
    height: fit-content;
    margin-top: 200px;
    padding: 20px 0;
}

.gradient-footer div {
    padding: 0 80px;
}

.gradient-footer__company {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: transparent;
}

.gradient-footer__company--logo {
    font-family: cursive;
    font-size: 4rem;
    background-color: transparent;
    margin-right: 10px;
}

.gradient-footer__company--est {
    font-size: .75rem;
    background-color: transparent;
}

.gradient-footer__contact {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.gradient-footer__contact li {
    font-size: .75rem;
    background-color: transparent;
}

.gradient-footer__title {
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    margin: 15px 0 15px 0;
}

.gradient-footer__social-icons__container {
    display: flex;
    /* align-items: center; */
    background-color: transparent;
    max-height: 30px;
    gap: 10px;
}

.gradient-footer__social--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    max-width: 30px;
    /* max-height: 30px; */
}

.gradient-footer__social--icons svg {
    max-width: 100%;
    max-height: 100%;
    /* Or any specific size you want */
    display: block;
    /* This can help with sizing and prevent unwanted whitespace */
}

.gradient-footer__contact--address { margin: 5px 0; }


/*----------------------------------------------------------------------------------
   Products
-----------------------------------------------------------------------------------*/

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 200px;
    background-color: transparent;
    /* height: fit-content; */
    /* padding: 50px 0; */
}

.products-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vh;
    background-color: whitesmoke;
    color: #404040;
    padding: 50px;
    border-radius: 25px;
    background: linear-gradient(to right, transparent, rgb(246, 227, 132));
    background: linear-gradient(to right, transparent, whitesmoke);

}

.products-card__price {
    font-size: 2.75rem;
    color: #545bb8;
}

.products-card__description {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.products-card__title {
    font-size: 2rem;

}

.products-card__text {
    font-size: 1.25rem;
    text-wrap: balance;
}

.products-btn {
    color: #f5e5e5;
    background-color: #545bb8;
    border: none;
}

.products-btn:hover {
    background-color: #464c9a;
}


/*----------------------------------------------------------------------------------
   Cube Swiper (product page)
-----------------------------------------------------------------------------------*/

/* .cubeSwiper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
} */

.products .swiper {
    width: 30vw;
    height: 30vw;
    /* object-fit: cover; */
    border-radius: 10px;
    position: relative;
    right: -8vw;
    top: 0;
}

  .products .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .products .swiper-slide img {
   display: block;
   height: 100%;
   width: 100%;
    object-fit: cover;
  }

  .products .swiper-pagination {
    position: relative;
    margin-top: 25px;
  }

  /* Initial state: moved out of view */
.products-card, .cubeSwiper {
    transition: transform 0.5s ease-out;
    will-change: transform;
  }
  
/*--------------------------------------------------------------------------------------------------------------
    Single Product Page
---------------------------------------------------------------------------------------------------------------*/

.single-product__carousel .swiper {
    width: 100vw;
    height: 100%;
  }

  .single-product__carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .single-product__carousel .swiper-slide img {
    display: block;
    width: auto;
    max-height: 80vh;
    object-fit: cover;
  }

  .single-product__carousel  .swiper {
    margin-left: auto;
    margin-right: auto;
  }